# Change GitHub language categorization
*.cpp linguist-language=SQF
*.hpp linguist-language=SQF
*.inc linguist-language=SQF
*.jpg binary
*.paa binary
*.png binary
*.ps1 linguist-language=POWERSHELL
*.py linguist-language=PYTHON